.projects-container {
  text-align: center;
  padding: 10px;
  margin: 140px 0;
}

.image-container {
  position: relative;
  display: inline-block;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 16px;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

.prev-button:hover,
.next-button:hover {
  background: rgba(0, 0, 0, 0.8);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

img.fade-out {
  opacity: 0;
}